<form>
  <!-- Username -->
  <label for="name">Username:</label>
  <input type="name">
  <br>
  <!-- Password -->
  <label for="username">Password:</label>
  <input type="password">
  <br>
  <p><a href="#">Forgot your password?</a>
    <br>
  <div id="lower">
      <input type="submit" value="Login">
  </div>
</form>  