<form>
  <label for="first_name">First name:</label>
  <input type="name">
  <br>
  <label for="last_name">Last name:</label>
  <input type="name">
  <br>
  <label for="email">Email:</label>
  <input type="email">
  <br>
  <!-- Password -->
  <label for="password">Password:</label>
  <input type="password">
  <br>
  <p><a href="#">Forgot your password?</a></p>
  <br>
  <div id="lower">
      <input type="submit" value="Login">
  </div>
</form>  